* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: 'Roboto' , sans-serif;
  padding: 5px 40px;
}

nav {
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;


  position: fixed;
  z-index: 1000;
  right: 0;
  left: 0;
}

ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  transition: 0.7s ease;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: #0EA5A4;
}

.logo{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

  ul p  {
  border: 1px solid black;
  background: #0EA5A4;
  color: white;
  padding: 15px 40px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 80px;
}

/* hero section */
.sec {
  background-image: url('/images/young-physiotherapist-helping-patient-with-back-problems.jpg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  position: relative;
  margin-top: 70px;
}

.hero {
  padding: 60px;
  z-index: 900;
}

.hero-text h1 {
  font-family: 'Roboto' , sans-serif;
  text-transform: capitalize;
  width: 600px;
  font-size: 50px;
  line-height: 65px;
  word-spacing: 20px;
}
.hero-text .help {
  font-family: 'Open sans', sans-serif;
  font-size: 17px;
  word-spacing: 10px;
  margin: 30px 0;
  width: 100%;
}
button {
  background-color: #0EA5A4;
  padding: 25px 80px;
  border-radius: 15px;
  color: white;
  border: none;
}
button p {
  font-size: 20px;
}
.backdrop {
  background-color: #0ea5a539;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hero-flex {
  display: flex;
  margin-top: 80px;
  gap: 30px;
}
.care,
.qualified,
.advanced {
  background-color: #f2f2f2;
  padding: 20px 50px;
  text-align: center;
  border-radius: 20px;
  width: 100%;
}
.hero-flex p {
  font-size: 17px;
  font-family: 'Open sans' , sans-serif;
  text-transform: capitalize;
}

@media (max-width: 480px) {
  .logo h1 {
    font-size: 20px;
  }

  /* hero section */
  .sec {
    height: 90vh;
  }
  .hero h1 {
    font-size: 20px;
    width: 250px;
    line-height: 30px;
    padding-top: 40px;
  }
  .hero .help {
    width: 250px;
    margin: 20px 0;
  }
  button {
    padding: 10px 30px;
  }
  button p {
    font-size: 15px;
  }
  .care,
  .qualified,
  .advanced {
    padding: 10px;
  }
  .hero-flex {
    display: flex;
    flex-direction: column;
  }
  .hero-flex p {
    font-size: 10px;
  }
  span svg {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 900px) {
 .hamburger {
  display: block;
 }

 .hamburger.active .bar:nth-child(2){
  opacity: 0;
 }

 .hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
 }

 .hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
 }

 ul {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #0EA5A4;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1000;
  }

  li {
    margin: 16px 0;
  }

  ul.active {
    left: 0;
  }

   ul p {
    background-color: white;
    color: #333;
    padding: 10px 30px;
    margin: 10px 200px;
  }
}
