* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: 'Roboto' , sans-serif;
  padding: 5px 40px;
}

nav {
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;


  position: fixed;
  z-index: 1000;
  right: 0;
  left: 0;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-list li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  transition: 0.7s ease;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: #0EA5A4;
}

.logo{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

  .nav-list p  {
  border: 1px solid black;
  background: #0EA5A4;
  color: white;
  padding: 15px 40px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 80px;
}

/* hero section */
.sec {
  background-image: url('/images/young-physiotherapist-helping-patient-with-back-problems.jpg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  position: relative;
  margin-top: 70px;
}

.hero {
  padding: 60px;
  z-index: 900;
}

.hero-text h1 {
  font-family: 'Roboto' , sans-serif;
  text-transform: capitalize;
  width: 600px;
  font-size: 50px;
  line-height: 65px;
  word-spacing: 20px;
  width: 400px;
}
.hero-text .help {
  font-family: 'Open sans', sans-serif;
  font-size: 17px;
  word-spacing: 10px;
  margin: 30px 0;
  width: 400px;
  line-height: 30px;
}
button {
  background-color: #0EA5A4;
  padding: 25px 80px;
  border-radius: 15px;
  color: white;
  border: none;
}
button p {
  font-size: 20px;
}
.backdrop {
  background-color: #0ea5a539;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

main {
  padding: 40px;
}
/* services section */
.service {
  padding: 40px;
}
.service-text {
  text-align: center;
}

.service-text h2 {
  font-family: "Roboto" , sans-serif;
  padding-bottom: 10px;
  color: #0EA5A4;
}
.service-text p {
  font-family: 'Open sans' , sans-serif;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
}
.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 25px;
}
.services-flex {
  background: #f3f4f6;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px;
}
.services-text h3{
  font-size: 25px;
  font-family: 'Roboto' , sans-serif;
  text-transform: capitalize;
}
.services-text p {
  font-family: 'Open sans' , sans-serif;
  font-size: 15px;
  margin-top: 10px;
  line-height: 20px;
}
.services-flex svg {
  width: 80px;
  height: 80px;
  align-items: center;
  fill: #0EA5A4;
}
/* about section */
.about {
  padding: 40px;
}
.flex-container {
  display: flex;
  gap: 40px;
}
.flex-1 h2 {
  font-family: 'Roboto' , sans-serif;
  color: #0EA5A4;
  padding-bottom: 10px;
}
.flex-1 .passion {
  font-family: 'Open sans', sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  padding-bottom: 10px;
}
.flex-1 .amaka{
  font-family: 'Open sans', sans-serif;
  line-height: 25px;
  padding-bottom: 10px;
}
.svg {
  padding-top: 20px;
}
.svg .about-list li {
  display: flex;
  align-items: center;
  gap: 20px;
}
.flex-1,
.choose,
.about-img {
  flex: 1;
}
.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.about-list li span{
  line-height: 40px;
}
li .svg-text p {
  font-size: 15px;
  font-family: "inter" , sans-serif;
  text-transform: capitalize;
}
.choose-list svg,
.svg svg {
  width: 30px;
  height: 30px;
}
.choose {
  background-color: #0ea5a528;
  border-radius: 10px;
}
.choose .choose-list li {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px 10px 30px 30px;
  line-height: 40px;
  width: 100%;
}
.choose-text p {
  font-size: 15px;
  font-family: "inter" , sans-serif;
  text-transform: capitalize;
  align-items: center;
}


@media (max-width: 480px) {
  .logo h1 {
    font-size: 20px;
  }

  /* hero section */
  .sec {
    height: 80vh;
  }
  .hero h1 {
    font-size: 20px;
    width: 250px;
    line-height: 30px;
    padding-top: 40px;
  }
  .hero .help {
    width: 250px;
    margin: 20px 0;
  }
  button {
    padding: 10px 30px;
  }
  button p {
    font-size: 15px;
  }
  main {
    padding: 0;
  }
  .care,
  .qualified,
  .advanced {
    padding: 10px;
  }
  .hero-flex {
    display: flex;
    flex-direction: column;
  }
  .hero-flex p {
    font-size: 10px;
  }
  span svg {
    width: 40px;
    height: 40px;
  }
  .service {
    padding: 20px;
  }

  .flex-container {
    flex-direction: column;
  }
  .choose .choose-list li {
    padding: 20px;
    line-height: 20px;
  }

}

@media (min-width: 481px) and (max-width: 768px) {
  .logo h1 {
    font-size: 25px;
  }
  .sec {
    height: 90vh;
  }
  .hero {
    margin-top: 40px;
  }
  .hero-text h1 {
    font-size: 30px;
  }
  button {
    padding: 15px 35px;
  }
  button p {
    font-size: 18px;
  }
  main {
    padding: 0;
  }
  .care,
  .qualified,
  .advanced {
    padding: 5px 20px;
  }
  .hero-flex p {
    font-size: 15px;
  }
  .flex-container {
    flex-direction: column;
  }
  .choose .choose-list li {
    line-height: 20px;
    padding: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero-text h1 {
    font-size: 35px;
    line-height: 40px;
  }
  .flex-container {
    flex-direction: column;
  }
  .choose .choose-list li {
    padding: 20px 30px;
  }
}

@media (max-width: 900px) {
 .hamburger {
  display: block;
 }

 .hamburger.active .bar:nth-child(2){
  opacity: 0;
 }

 .hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
 }

 .hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
 }

 .nav-list {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #0EA5A4;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1000;
  }

  li {
    margin: 16px 0;
  }

  .nav-list.active {
    left: 0;
  }

   .nav-list p {
    background-color: white;
    color: #333;
    padding: 10px 30px;
    margin: 10px 200px;
  }
}
